# Compiled class file
*.class

# Log file
*.log

#eclipse
/target/*
/**/target/*
.classpath
*.classpath           # 所有目录下或者后缀是.classpath
.project
*.project             # 所有目录下或者后缀是.project
.settings/*
/**/.settings/*          # 所有目录下或者后缀是.settings，以及.settings下所有文件
*.gitignore           # 所有目录下或者后缀是.gitignore
*.bak
*.tmp/*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
